# NOTE: This I2P config file must use UTF-8 encoding
# Last saved: Jan 7, 2020, 9:38 PM
description=SSH Tunnel for git.idk.i2p
interface=127.0.0.1
listenPort=7822
name=Git Repo
option.i2cp.closeIdleTime=1800000
option.i2cp.closeOnIdle=false
option.i2cp.delayOpen=false
option.i2cp.destination.sigType=7
option.i2cp.newDestOnResume=false
option.i2cp.reduceIdleTime=1200000
option.i2cp.reduceOnIdle=false
option.i2cp.reduceQuantity=1
option.i2p.streaming.connectDelay=500
option.i2p.streaming.maxWindowSize=16
option.inbound.backupQuantity=3
option.inbound.length=1
option.inbound.lengthVariance=0
option.inbound.nickname=Git Repo
option.inbound.quantity=3
option.outbound.backupQuantity=3
option.outbound.length=1
option.outbound.lengthVariance=0
option.outbound.nickname=Git Repo
option.outbound.quantity=3
option.persistentClientKey=true
option.useSSL=false
privKeyFile=i2ptunnel6.1-privKeys.dat
sharedClient=false
startOnLoad=true
targetDestination=redactedfromthisversionsetupanotheritseasy.b32.i2p
type=client
